<h1>My Portfolio</h1>

<h3>Search for Stocks</h3>

<%= form_tag search_stocks_path,remote:true, method: :get do %>
<div class="row">
  <div class="col-md-8">
    <%= text_field_tag :stock, params[:stock],placeholder:"Enter Stock Ticker Symbol",class:"form-control",
                       autofocus: true%>
  </div>

  <div class="col-md-4">
    <%= button_tag(type: :submit, class:'btn btn-success') do%>
      <i class="fas fa-search"></i> Look up a stock
    <% end %>
  </div>
</div>
<% end %>

<p>
  <div class="row">
    <div class="col-md-8">
      <div id="results"></div>
    </div>
  </div>
</p>

<p>
<div class="row">
  <div class="col-md-10">
    <div id="tracking_stocks"><%= render 'users/stocks' %></div>
  </div>
</div>
</p>